{% extends "base.html" %}
{% block content %}
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-12">
            <h3>Latest Measurement</h3>
            <p>Timestamp: {{ temperature_data[0].timestamp }}, Temperature: {{ temperature_data[0].temp }} °C</p>
        </div>
        <div class="col-md-12">
            <h3>Control Panel</h3>
            <form method="POST">
                <div class="form-group">
                    <label for="X">Number of measurements to display:</label>
                    <input type="number" class="form-control" id="X" name="X" value="5" min="1" max="{{ total_entries }}">
                </div>
                <div class="form-group">
                    <label for="Y">Number of oldest measurements to delete:</label>
                    <input type="number" class="form-control" id="Y" name="Y" value="0" min="0" max="{{ total_entries }}">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
        <div class="col-md-12">
            <h3>All Measurements</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Temperature (°C)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in temperature_data %}
                    <tr>
                        <td>{{ entry.timestamp }}</td>
                        <td>{{ entry.temp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h3>Temperature in time</h3>
            <div id="tempChart"></div>
        </div>
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graph_json = {{ graph_json | safe }};
        Plotly.react('tempChart', graph_json.data, graph_json.layout);
    </script>
{% endblock %}

