{% extends "base.html" %} {% block content %}
<h2>Register</h2>
<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="Enter username"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Enter password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}
